/* Category Popup */

.hide {
	visibility: hidden;
}

#category-popup {
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#category-popup button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 40px;
    border: none;
    background-color: white;
}

#category-list {
    list-style-type: none;
}

#category-list li {
    padding: 0 1rem;
}

#category-list a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    list-style-type: none;
}

#category-list a:hover {
    cursor: pointer;
}