* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    font-family: var(--font-family);
}
:root {
    --background: #261E3A;
    --lightcolor: #e2e2e2;
    --seconddark: black;
    --font-family: 'Quantico', sans-serif;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

h2 {
    color: var(--lightcolor);
    padding-left: 1rem;
    margin-bottom: 1rem;
}
h2::after {
    width: 98%;
    height: 0.1rem;
    content: "";
    background: var(--lightcolor);
    display: block;
    border-radius: 5px;
}
h3 {
    color: var(--lightcolor);
    text-align: center;
}
p {
    color: var(--seconddark);
    margin-top: 9rem;
    padding-left: 1rem;
}
/* YES section */
header {
    width: 100%;
}
header h1 {
    margin-top: 1rem;
    padding: 0.2rem;
    font-size: 2rem;
    color: var(--lightcolor);
}
header .yes {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .yes img {
    width: 35%;
    padding: 0.1rem;
    margin-top: 1rem;
}
.yes_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px;
}
.box {
    height: 200px;
    width: 300px;
    background: var(--lightcolor);
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 20px var(--seconddark);
}

/* =========Category Popup ===========*/

#category-popup {
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* transition: all 0.5s;
    opacity: 1; */
}

#category-popup button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 40px;
    border: none;
    background-color: white;
}

#category-list {
    list-style-type: none;
}

#category-list li {
    padding: 0 1rem;
    transition: all 0.5s;

}

#category-list a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

#category-list a:hover {
    cursor: pointer;
}

